**/target/*

ice3/opencds-ice-service-data/src/main/resources/knowledgeModules/org.nyc.cir^ICE^1.0.0/org.nyc.cir^ICE^1.0.0.pkg

**/nb-configuration.xml
**/.metadata/*
**/.settings/*
**/.project
**/.classpath
**/sun-jaxb.episode
.DS_Store


opencds/opencds-parent/opencds-config/opencds-config-schema/src

opencds/opencds-parent/opencds-vmr-1_0/opencds-vmr-1_0-schema/src

**/nbactions.xml

ice3/opencds-ice-service/src/main/knowledge/knowledgeModules/gov.nyc.cir^ICE^1.0.0/gov.nyc.cir^ICE^1.0.0.pkg

opencds-rest-service/nbproject/project.properties
