**/target/*

**/nb-configuration.xml
**/.metadata/*
**/.settings/*
**/.project
**/.classpath
**/sun-jaxb.episode
.DS_Store

**/nbactions.xml

opencds-rest-service/nbproject/project.properties

opencds-ice-service/src/main/resources/knowledgeModules/org.nyc.cir^ICE^1.0.0/org.nyc.cir^ICE^1.0.0.pkg

opencds/opencds-parent/opencds-config/opencds-config-schema/src

opencds/opencds-parent/opencds-vmr-1_0/opencds-vmr-1_0-schema/src

.vscode/

**/.factorypath

*.versionsBackup

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea
