# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.bpmn text
*.bpmn2 text
*.brl text
*.css text
*.ddl text
*.drl text
*.dsl text
*.dslr text
*.dtd text
*.groovy text
*.gsp text
*.htm text
*.html text
*.jar text
*.java text
*.json text
*.jsp text
*.html text
*.properties text
*.rtf text
*.sql text
*.txt text
*.wsdl text
*.wssc text
*.xhtml text
*.xml text
*.xsl text
*.xsd text

# Declare files that will always have CRLF line endings on checkout.

# Denote all files that are truly binary and should not be modified.
*.bz2 binary
*.class binary
*.dll binary
*.doc binary
*.docx binary
*.EAP binary
*.eap binary
*.ear binary
*.gif binary
*.gz binary
*.ico binary
*.jar binary
*.JPG binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.pkg binary
*.png binary
*.ppt binary
*.pptx binary
*.tiff binary
*.vsd binary
*.war binary
*.xls binary
*.xlsx binary
*.zip binary

